<% items.forEach(item => { %>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="/<%= item.imgPath.replace(/\\/g, '/') %>" alt="<%= item.name %> Logo" class="card-img-top">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text"><%= item.description %></p>
                <a href="/shop/item/<%= item._id %>" class="btn btn-primary mt-auto">View Businesses</a>
            </div>
        </div>
    </div>
<% }) %>
