<style>
    .full-height-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh; /* Full viewport height */
    }
</style>

<div class="full-height-container">
    <section class="search-bar container py-5">
        <h2 class="text-center mb-4">Find What You're Looking For</h2>
        <div class="d-flex justify-content-center">
            <form class="row g-3 col-md-8" method="GET" action="/search">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keywords" placeholder="Keywords">
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="category">
                        <option value="">Category</option>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="geoRegion">
                        <option value="">Geo Region</option>
                        <option value="תל אביב">תל אביב</option>
                        <option value="נס ציונה">נס ציונה</option>
                        <option value="ראשון לציון">ראשון לציון</option>
                        <option value="באר שבע">באר שבע</option>
                        <option value="רחובות">רחובות</option>
                        <option value="הרצליה">הרצליה</option>
                        <option value="נתניה">נתניה</option>
                        <option value="טבריה">טבריה</option>
                        <option value="קיסריה">קיסריה</option>
                        <option value="ירושלים">ירושלים</option>
                        <option value="כל הארץ">כל הארץ</option>
                        <option value="מרכז הארץ">מרכז הארץ</option>
                        <option value="צפון הארץ">צפון הארץ</option>
                        <option value="צפון הארץ">דרום הארץ</option>
                        <option value="אור יהודה">אור יהודה</option>
                    </select>
                </div>
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="container">
    <% if (message) { %>
        <div class="alert alert-warning text-center" role="alert">
            <%= message %>
        </div>
    <% } else { %>
        <div class="row">
            <% businesses.forEach(business => { %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="<%= business.imgPath %>" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="<%= business.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= business.name %></h5>
                            <p class="card-text"><%= business.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Categories: <%= business.categories.join(', ') %></small>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>
