<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>עמוד התשלום</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/CheckOut.css">
</head>
<body class="bg-light">
    
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>עמוד התשלום</h2>
                <p class="lead">הזן את פרטי התשלום והמשלוח שלך להשלמת ההזמנה.</p>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">פרטי חיוב</h4>
                    <form class="needs-validation" novalidate method="POST" action="/CheckOut">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">שם פרטי</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="<%= user.name.split(' ')[0] %>" required>
                                <div class="invalid-feedback">
                                    נדרש שם פרטי.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">שם משפחה</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="<%= user.name.split(' ')[1] %>" required>
                                <div class="invalid-feedback">
                                    נדרש שם משפחה.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">שם משתמש</label>
                                <div class="input-group has-validation">
                                    
                                    <input type="text" class="form-control" id="username" placeholder="שם משתמש" value="<%= user.email.split('@')[0] %>" required>
                                    <div class="invalid-feedback">
                                        שם משתמש נדרש.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">דוא"ל <span class="text-muted">(לא חובה)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com" value="<%= user.email %>">
                                <div class="invalid-feedback">
                                    הזן כתובת דוא"ל חוקית עבור עדכוני משלוח.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">כתובת</label>
                                <input type="text" class="form-control" id="address" placeholder="רחוב ראשי 123" required>
                                <div class="invalid-feedback">
                                    הזן כתובת למשלוח.
                                </div>
                            </div>


                            <div class="col-md-5">
                                <label for="country" class="form-label">מדינה</label>
                                <select class="form-select" id="country" required>
                                    <option value="">בחר...</option>
                                    <option>אוגנדה</option>
<option>אוזבקיסטן</option>
<option>אוסטרליה</option>
<option>אוסטריה</option>
<option>אורוגוואי</option>
<option>אוקראינה</option>
<option>איחוד האמירויות הערביות</option>
<option>איטליה</option>
<option>אינדונזיה</option>
<option>איסלנד</option>
<option>איראן</option>
<option>אירלנד</option>
<option>אל סלוודור</option>
<option>אלבניה</option>
<option>אלג'יריה</option>
<option>אנדורה</option>
<option>אנגליה</option>
<option>אנגולה</option>
<option>אנטיגואה וברבודה</option>
<option>אקוודור</option>
<option>ארגנטינה</option>
<option>אריתריאה</option>
<option>ארמניה</option>
<option>אתיופיה</option>
<option>אפגניסטן</option>
<option>אפריקה הדרומית</option>
<option>אפריקה התיכונה</option>
<option>בוטסואנה</option>
<option>בולגריה</option>
<option>בוליביה</option>
<option>בורונדי</option>
<option>בורקינה פאסו</option>
<option>בוסניה והרצגובינה</option>
<option>בורונדי</option>
<option>בורמה (מיאנמר)</option>
<option>בחריין</option>
<option>בלגיה</option>
<option>בליז</option>
<option>בלרוס</option>
<option>בנגלדש</option>
<option>בנין</option>
<option>ברבדוס</option>
<option>ברזיל</option>
<option>ברוניי</option>
<option>בריטניה</option>
<option>גאבון</option>
<option>ג'מייקה</option>
<option>גרמניה</option>
<option>גרנדה</option>
<option>גרינלנד</option>
<option>גואטמלה</option>
<option>גינאה</option>
<option>גינאה ביסאו</option>
<option>גינאה המשוונית</option>
<option>גיאורגיה</option>
<option>גיברלטר</option>
<option>גיברלטר</option>
<option>גיברלטר</option>
<option>גיברלטר</option>
<option>גיאנה</option>
<option>גמביה</option>
<option>גאנה</option>
<option>גאורגיה</option>
<option>הולנד</option>
<option>הונדורס</option>
<option>הונג קונג</option>
<option>הונגריה</option>
<option>הרפובליקה הדומיניקנית</option>
<option>הרפובליקה המרכז-אפריקאית</option>
<option>ואנואטו</option>
<option>ויטנאם</option>
<option>ונצואלה</option>
<option>זימבבואה</option>
<option>זמביה</option>
<option>חוף השנהב</option>
<option>טג'יקיסטן</option>
<option>טובלו</option>
<option>טוניסיה</option>
<option>טונגה</option>
<option>טורקיה</option>
<option>טורקמניסטן</option>
<option>טיוואן</option>
<option>טימור</option>
<option>טרינידד וטובגו</option>
<option>יוון</option>
<option>יפן</option>
<option>ירדן</option>
<option>ישראל</option>
<option>כווית</option>
<option>כף ורדה</option>
<option>לאוס</option>
<option>לבנון</option>
<option>לוב</option>
<option>לוקסמבורג</option>
<option>לטביה</option>
<option>ליבריה</option>
<option>ליטא</option>
<option>ליכטנשטיין</option>
<option>מאוריטניה</option>
<option>מאוריציוס</option>
<option>מאיה</option>
<option>מאלי</option>
<option>מדגסקר</option>
<option>מוזמביק</option>
<option>מולדובה</option>
<option>מונגוליה</option>
<option>מונטנגרו</option>
<option>מונקו</option>
<option>מוזמביק</option>
<option>מולדובה</option>
<option>מונגוליה</option>
<option>מונטנגרו</option>
<option>מונקו</option>
<option>מאוריציוס</option>
<option>מאוריטניה</option>
<option>מאלי</option>
<option>מלטה</option>
<option>מלזיה</option>
<option>מלאווי</option>
<option>מקסיקו</option>
<option>מצרים</option>
<option>מרוקו</option>
<option>נאורו</option>
<option>נורבגיה</option>
<option>ניז'ר</option>
<option>ניגריה</option>
<option>ניו זילנד</option>
<option>נפאל</option>
<option>ניקרגואה</option>
<option>נמיביה</option>
<option>סוואזילנד</option>
<option>סוריה</option>
<option>סורינאם</option>
<option>סומליה</option>
<option>סין</option>
<option>סינגפור</option>
<option>סיירה לאון</option>
<option>סלובניה</option>
<option>סלובקיה</option>
<option>סנגל</option>
<option>סנט וינסנט והגרנדינים</option>
<option>סנט קיטס ונוויס</option>
<option>סנט לוסיה</option>
<option>ספיר</option>
<option>ספרד</option>
<option>סרביה</option>
<option>פולין</option>
<option>פורטוגל</option>
<option>פיג'י</option>
<option>פיליפינים</option>
<option>פינלנד</option>
<option>פפואה גינאה החדשה</option>
<option>פקיסטן</option>
<option>פרו</option>
<option>צרפת</option>
<option>קובה</option>
<option>קוריאה הדרומית</option>
<option>קוריאה הצפונית</option>
<option>קולומביה</option>
<option>קונגו</option>
<option>קוסטה ריקה</option>
<option>קזחסטן</option>
<option>קטאר</option>
<option>קניה</option>
<option>קירגיזסטן</option>
<option>קיריבאטי</option>
<option>קמבודיה</option>
<option>קמרון</option>
<option>קנדה</option>
<option>קפריסין</option>
<option>קרואטיה</option>
<option>רואנדה</option>
<option>רומניה</option>
<option>רוסיה</option>
<option>שוודיה</option>
<option>שווייץ</option>
<option>תאילנד</option>
<option>תוניסיה</option>
<option>תורכיה</option>
                                </select>
                                <div class="invalid-feedback">
                                    בחר מדינה חוקית.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="state" class="form-label">עיר</label>
                                <select class="form-select" id="state" required>
                                    <option value="">בחר...</option>
                                    <option>אום אל-פחם</option>
                                    <option>אופקים</option>
                                    <option>אור יהודה</option>
                                    <option>אור עקיבא</option>
                                    <option>אילת</option>
                                    <option>אלעד</option>
                                    <option>אריאל</option>
                                    <option>אשדוד</option>
                                    <option>אשקלון</option>
                                    <option>באקה אל-גרביה</option>
                                    <option>באר שבע</option>
                                    <option>בית שאן</option>
                                    <option>בית שמש</option>
                                    <option>ביתר עילית</option>
                                    <option>בני ברק</option>
                                    <option>בת ים</option>
                                    <option>גבעת שמואל</option>
                                    <option>גבעתיים</option>
                                    <option>דימונה</option>
                                    <option>הוד השרון</option>
                                    <option>הרצליה</option>
                                    <option>חדרה</option>
                                    <option>חולון</option>
                                    <option>חיפה</option>
                                    <option>טבריה</option>
                                    <option>טייבה</option>
                                    <option>טירה</option>
                                    <option>טירת כרמל</option>
                                    <option>יבנה</option>
                                    <option>יהוד-מונוסון</option>
                                    <option>יקנעם עילית</option>
                                    <option>ירושלים</option>
                                    <option>כפר יונה</option>
                                    <option>כפר סבא</option>
                                    <option>כפר קאסם</option>
                                    <option>כרמיאל</option>
                                    <option>לוד</option>
                                    <option>מגדל העמק</option>
                                    <option>מודיעין-מכבים-רעות</option>
                                    <option>מודיעין עילית</option>
                                    <option>מעלה אדומים</option>
                                    <option>מעלות-תרשיחא</option>
                                    <option>נהריה</option>
                                    <option>נס ציונה</option>
                                    <option>נצרת</option>
                                    <option>נצרת עילית</option>
                                    <option>נשר</option>
                                    <option>נתיבות</option>
                                    <option>נתניה</option>
                                    <option>סחנין</option>
                                    <option>עכו</option>
                                    <option>עפולה</option>
                                    <option>עראבה</option>
                                    <option>ערד</option>
                                    <option>פתח תקווה</option>
                                    <option>צפת</option>
                                    <option>קלנסווה</option>
                                    <option>קריית אונו</option>
                                    <option>קריית ארבע</option>
                                    <option>קריית אתא</option>
                                    <option>קריית ביאליק</option>
                                    <option>קריית גת</option>
                                    <option>קריית ים</option>
                                    <option>קריית מוצקין</option>
                                    <option>קריית מלאכי</option>
                                    <option>קריית שמונה</option>
                                    <option>ראש העין</option>
                                    <option>ראשון לציון</option>
                                    <option>רחובות</option>
                                    <option>רמלה</option>
                                    <option>רמת גן</option>
                                    <option>רמת השרון</option>
                                    <option>רעננה</option>
                                    <option>שדרות</option>
                                    <option>שפרעם</option>
                                    <option>תל אביב</option>
                                    <option>תל אביב-יפו</option>
                                    <option>תל מונד</option>                                    
                                </select>
                                <div class="invalid-feedback">
                                    בחר מחוז חוקי.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">מיקוד</label>
                                <input type="text" class="form-control" id="zip" placeholder="" >
                                <div class="invalid-feedback">
                                    מיקוד נדרש.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="same-address">
                            <label class="form-check-label" for="same-address">כתובת למשלוח זהה לכתובת החיוב</label>
                        </div>
                        <hr class="my-4">

                        <h4 class="mb-3">תשלום</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                                <label class="form-check-label" for="credit">כרטיס אשראי</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                                <label class="form-check-label" for="debit">כרטיס דביט</label>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">שם על הכרטיס</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">השם המלא שמופיע על הכרטיס</small>
                                <div class="invalid-feedback">
                                    שם בעל הכרטיס נדרש.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">מספר כרטיס אשראי</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    מספר כרטיס האשראי נדרש.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-expiration" class="form-label">תוקף</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    תאריך התוקף נדרש.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    קוד ה-CVV נדרש.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberCardInfo" name="rememberCardInfo">
                            <label class="form-check-label" for="rememberCardInfo">זכור את פרטי הכרטיס לפעם הבאה</label>
                        </div>

                        <hr class="my-4">


                        <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="window.location.href='/CheckOut'">המשך לתשלום</button>
                    </form>
                </div>
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">הסל שלך</span>
                        <span class="badge bg-primary rounded-pill"><%= cart.length %></span>
                    </h4>
                    <ul class="list-group mb-3">
                        <% if (cart.length > 0) { %>
                            <% cart.forEach(function(item) { %>
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0"><%= item.product_name %></h6>
                                        <small class="text-muted">כמות: <%= item.quantity %></small>
                                    </div>
                                    <span class="text-muted">₪<%= item.price %></span>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">אין פריטים בסל</h6>
                                </div>
                            </li>
                        <% } %>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>סה"כ </span>
                            <strong>₪<%= cart.reduce((total, item) => total + item.price * item.quantity, 0) %></strong>
                        </li>
                    </ul>

                    <form class="card p-2" id="coupon-form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="coupon-code" placeholder="קוד הנחה">
                            <button type="submit" class="btn btn-secondary">ממש</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2024 Your Company</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Form Validation JS -->
    <script src="/js/form-validation.js"></script>


    <script>
        document.getElementById('coupon-form').addEventListener('submit', function(event) {
            event.preventDefault();
        
            const couponCode = document.getElementById('coupon-code').value;
            console.log('Coupon Code:', couponCode);
        
            // Make an AJAX request to your server to verify the coupon
            fetch('/verify-coupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ couponCode: couponCode }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Response Data:', data);
                if (data.valid) {
                    // Coupon is valid, update the total cart sum
                    const discountPercentage = data.discountPercentage;
                    const totalElement = document.querySelector('.list-group-item strong');
                    const total = parseFloat(totalElement.textContent.replace('₪', ''));
                    const discountedTotal = total - (total * discountPercentage / 100);
        
                    // Update the total displayed in the checkout page
                    totalElement.textContent = `₪${discountedTotal.toFixed(2)}`;
                } else {
                    // Coupon is invalid, show an error message
                    alert('קוד הנחה לא תקין');
                }
            })
            .catch(error => {
                console.error('Error verifying coupon:', error);
            });
        });
        </script>
        
        
        
        
        
</body>
</html>
