<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>עמוד צור קשר</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/contactUs.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>" defer></script>
    <script src="/js/contactUs.js" defer></script>
</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Main Content -->
    <div class="container mt-5">
        <h1 class="text-center">צור קשר</h1>
        <div class="mt-4">
            <% managers.forEach((manager) => { %>
                <div class="manager">
                    <img src="<%= manager.imgpath %>" alt="Profile Image">
                    <div class="description">
                        <h3><%= manager.name %></h3>
                        <p><%= manager.description %></p>
                        <a href="mailto:<%= manager.email %>"><%= manager.email %></a>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <!-- Map Container -->
                <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
