<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyMe - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <a href="/" class="text-decoration-none">
                        <i class="fas fa-arrow-right ms-1"></i> חזרה לעמוד הבית
                    </a> | <%= item.name %>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <img src="/<%= item.imgPath %>" alt="<%= item.name %> Image" class="img-fluid">
                        <h5 class="mt-2"><%= item.name %></h5>
                    </div>
                    <div class="mb-3">
                        <p><%= item.description %></p>
                    </div>
                    <div class="mb-3">
                        <h6>Details</h6>
                        <p>Contact: <%= item.contact_info %></p>
                        <p>Category: <%= item.categories.join(', ') %></p>
                        <p>Geographical Location: <%= item.geographical_location.join(', ') %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="priceInput" class="form-label">טען את כרטיס המתנה</label>
                        <input type="number" class="form-control" id="priceInput" placeholder="בחר סכום">
                    </div>
                    <button type="button" class="btn btn-primary" id="actionButton">הוסף לעגלה</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal for keep buying or not -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        האם תרצה/י להמשיך לקנות או להמשיך לתשלום?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="keepBuyingButton" data-bs-dismiss="modal">המשך לקנות</button>
        <button type="button" class="btn btn-primary" id="proceedToPaymentButton">המשך לתשלום</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('actionButton').addEventListener('click', async function() {
        const itemName = "<%= item.name %>";
        const price = parseFloat(document.getElementById('priceInput').value);

        if (isNaN(price) || price <= 0) {
            console.error('Invalid price value');
            return;
        }

        try {
            const response = await fetch('/add-item-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ itemName, price })
            });

            const result = await response.json();
            if (result.success) {
                // Show the confirmation modal
                var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'), {});
                confirmationModal.show();
            } else {
                console.error('Failed to add item to cart');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    document.getElementById('keepBuyingButton').addEventListener('click', function() {
        window.location.href = '/shop'; // Redirect to the shop page
    });

    document.getElementById('proceedToPaymentButton').addEventListener('click', function() {
        window.location.href = '/checkout'; // Redirect to the checkout page
    });
</script>
</body>
</html>
