<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyMe - Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/giftCards.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container my-5">
        <h2 class="mb-4 text-center">Shop</h2>
        <div class="categories-nav">
            <% categories.forEach(category => { %>
                <div class="card category-card">
                    <div class="card-body">
                        <img src="/<%= category.imgPath %>" alt="<%= category.name %> Logo">
                        <h5 class="card-title"><%= category.name %></h5>
                        <p class="card-text"><%= category.description %></p>
                        <a href="/shop/<%= category._id %>" class="btn btn-primary">View Businesses</a>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row <%= businesses.length > 0 ? '' : 'd-none' %>" id="business-section">
            <%- include('partials/giftCards', { items: businesses }) %>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
